.App {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
    
  table {
    box-shadow: grey 2px 2px 2px 1px;
    width: 800px;
    height: 200px;
    flex:6;
  }
    
  th {
    border-bottom: 1px solid rgb(202, 199, 199);
  }
    
  td {
    text-align: center;
  }
  h1{
    font-weight: normal;
    text-align: center;
    font-family:'PT Serif', serif;
    text-shadow: solid blue 2px 2px 3px;
  }
  .Buttons{
    padding-left: 3px;
    flex:2;
    align-items: center;
    margin-left: 80px;
    text-align: center;
  }
  .Buttons button{
    display: block;
    text-decoration: none;
    color: black;
    box-shadow: grey 2px 2px 2px;
    width: 250px;
    height: 80px;
    margin-top: 15px;
    position: relative;
  }
  .Buttons a:hover{
    box-shadow: rgb(49, 49, 49) 2px 2px 2px;
  }
  .Buttons h1{
    text-align: center;
    left: 20px;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
 